:root {
    --primary-color: rgb(0, 0, 0);
}

body {
    background: var(--primary-color);
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.barranavegacion {
    background: var(--primary-color); 
    text-align: center;
           
}

.tituloheader{
    text-decoration: none;
    font-weight: bold;
    color:white;
    font-size: 2em;
    
}

span{
    color: rgb(23, 54, 139);
    font-weight: bold;
}

nav{
    display: none;
}

.mobile-menu{
    cursor: pointer;
    border-color: white;
}

.container{
    display: flex;
    place-content: space-between;
}

.titulo1{
    background:  rgba(109, 106, 106, 0.363);
    color: white;
    text-align: center;
    place-content: space-between;
          
}

.container{
    color: white;
}

.description{
    color: white;
    text-align: center;
}

.Barrabusqueda{
    background: rgba(109, 106, 106, 0.363);
    padding: 1.5em;
    margin: 1em;
}

a{
    color: white;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.search-profile{
    background: green;
    padding: 0.6em 1.3em;
    color: white;
    text-decoration: none;
    border-radius:2em ;
    font-weight: bold;
    display: inline-block;
}

section{
    padding: 0.5em 2em;
}

.left-col{
    letter-spacing: 0;
    text-align: center;
    padding: 10px 300px ;
}

.right-col{
    padding: 10px 300px;
}


.finalmessage{
    background: rgb(81, 82, 81);
    color: white;
    font-size: 15px;
    margin: 1em;
    text-align: center;
    display: block;
    
}

.effort{
    width: 15px;
    height: 15px; 
}

